:root {
    --cambridge-blue: #839788ff;
    --apricot: #f7c4a5ff;
    --mountbatten-pink: #9e7682ff;
    --english-violet: #605770ff;
    --english-violet-dark: #4d4861ff;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--english-violet-dark);
    color: white;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.roboto-400 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-800 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.details-text {
    text-decoration: none;
    color: var(--apricot);
}

a:hover {
    color: white;
}

.bg-mountbatten-pink {
    background-color: var(--mountbatten-pink);
}

.bg-eng-violet {
    background-color: var(--english-violet);
}

.text-white {
    color: white;
}

.lined-text, .lined-text-center {
  display: flex;
  align-items: center;
}

.lined-text-center::before,
.lined-text-center::after,
.lined-text::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid var(--mountbatten-pink);
}

.lined-text:not(:empty)::before,
.lined-text-center:not(:empty)::before {
  margin-right: 1em;
}
.lined-text:not(:empty)::after,
.lined-text-center:not(:empty)::after {
  margin-left: 1em;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
