@{
ViewData["Title"] = "Home";
}

<div class="row mt-5">
    <div class="col-5">
        <div class="profile-img">
            <img src="stock-profile.jpg" />
        </div>
    </div>

    <div class="col-7">
        <h1 class="title text-apricot mb-3">ROOPE JUPONAHO</h1>
        <p class="subtitle pb-5">Software engineering. Game development. Passion for quality.</p>
    </div>
</div>

<h2 class="heading mt-5">Experience</h2>

<div class="row experience-card">
    <div>
        <div class="card card-body bg-eng-violet my-5">
            <div class="decor-feature"></div>
            <div>
                <h3 class="me-5">Engineering intern</h3>
                <p>Finnish Defence Forces</p>
            </div>
            <p class="text-apricot">Feb 2025 - July 2025 (6 months)</p>
        </div>
    </div>
</div>

<div class="text-start mt-5">
    <!-- <h2 class="lined-text fs-4">What can I do?</h2> -->

    <div class="row">
        <div class="col-6">
            <div class="card card-body bg-eng-violet my-5">
                <div class="decor-feature"></div>
                <h3>Full stack development</h3>
                <a class="details-text" data-bs-toggle="collapse" href="#fullstack-details" role="button" aria-expanded="false" aria-controls="fullstack-details">
                    <i>> Details...</i>
                </a>
                <div class="row collapse my-5" id="fullstack-details">
                    <div class="col-4">
                        <h4>ASP.NET</h4>
                        <p>I do ASP.NET</p>
                    </div>
                    <div class="col-4">
                        <h4>Django</h4>
                        <p>I do Django</p>
                    </div>
                    <div class="col-4">
                        <h4>React</h4>
                        <p>I do React</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card card-body bg-eng-violet my-5">
                <div class="decor-feature"></div>
                <h3>Game development</h3>
                <a class="details-text" data-bs-toggle="collapse" href="#gamedev-details" role="button" aria-expanded="false" aria-controls="gamedev-details">
                    > Details...
                </a>
                <div class="row collapse my-5" id="gamedev-details">
                    <div class="col-4">
                        <h4>Unity</h4>
                        <p>I do Unity</p>
                    </div>
                    <div class="col-4">
                        <h4>MonoGame</h4>
                        <p>I do MonoGame</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card card-body bg-eng-violet my-5">
                <h3>Network engineering</h3>
                <a class="details-text" data-bs-toggle="collapse" href="#net-details" role="button" aria-expanded="false" aria-controls="net-details">
                    > Details...
                </a>
                <div class="row collapse my-5" id="net-details">
                    <div class="col-4">
                        <h4>Cisco routers and switches</h4>
                        <p>I do Cisco</p>
                    </div>
                    <div class="col-4">
                        <h4>Networking for software</h4>
                        <p>I do that</p>
                    </div>
                    <div class="col-4">
                        <h4>Basic wireless</h4>
                        <p>I know basic wireless</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card card-body bg-eng-violet my-5">
                <h3>Software infrastructure</h3>
                <a class="details-text" data-bs-toggle="collapse" href="#infra-details" role="button" aria-expanded="false" aria-controls="infra-details">
                    > Details...
                </a>
                <div class="row collapse my-5" id="infra-details">
                    <div class="col-4">
                        <h4>Docker</h4>
                        <p>I do Docker</p>
                    </div>
                    <div class="col-4">
                        <h4>Proxies</h4>
                        <p>I do proxies</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card card-body bg-eng-violet my-5">
                <h3>Basic cloud services</h3>
                <a class="details-text" data-bs-toggle="collapse" href="#cloud-details" role="button" aria-expanded="false" aria-controls="cloud-details">
                    > Details...
                </a>
                <div class="row collapse my-5" id="cloud-details">
                    <div class="col-4">
                        <h4>Azure</h4>
                        <p>I know basic Azure</p>
                    </div>
                    <div class="col-4">
                        <h4>Basic AWS</h4>
                        <p>I know AWS theory</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card card-body bg-eng-violet my-5">
                <h3>Basic IoT</h3>
                <a class="details-text" data-bs-toggle="collapse" href="#iot-details" role="button" aria-expanded="false" aria-controls="iot-details">
                    > Details...
                </a>
                <div class="row collapse my-5" id="iot-details">
                    <div class="col-4">
                        <h4>Arduino</h4>
                        <p>I know some Arduino</p>
                    </div>
                    <div class="col-4">
                        <h4>AVCC stuff</h4>
                        <p>I did AVCC</p>
                    </div>
                    <div class="col-4">
                        <h4>Raspberry Pi</h4>
                        <p>I've sone some Rpi stuff</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p>GitHub link</p>
    <p>Showcase some projects as proof of skillzz</p>
</div>
