@{
ViewData["Title"] = "Home";
}

<div class="row mt-5">
    <div class="col-5">
        <div class="profile-img">
            <img src="img/stock-profile.jpg" />
        </div>
    </div>

    <div class="col-7">
        <h1 class="title text-apricot mb-3">ROOPE JUPONAHO</h1>
        <p class="subtitle pb-5">Software engineering. Game development. Passion for quality.</p>
    </div>
</div>

<h2 class="heading mt-5">Experience</h2>

<div class="row experience-card">
    <div>
        <div class="card card-body bg-eng-violet my-5">
            <div class="decor-feature"></div>
            <div class="row">
                <h3 class="me-5" style="width: fit-content">Engineering intern</h3>
                <p class="btn-sm bg-mountbatten-pink" style="width: auto">Finnish Defence Forces</p>
            </div>
            <p class="text-apricot">Feb 2025 - July 2025 (6 months)</p>

            <button class="btn bg-apricot text-eng-violet-dark align-self-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFdfOne" aria-expanded="false" aria-controls="collapseFdfOne"> Details </button>

            <div class="collapse row mt-5" id="collapseFdfOne">
                <div class="col-6">
                    <div class="card card-body bg-eng-violet-dark">
                        I worked 6 months in a software engineering role in the Finnish Defence Forces.
                        During my time I worked with cloud-hosted full stack applications improving
                        legacy projects and building new functionality to boost quality of life and
                        work efficiency.
                    </div>
                </div>
                <div class="col-6">
                    <div class="card card-body bg-eng-violet-dark">
                        I used tools such as Django, JavaScript, Python, SQLite, Grafana,
                        Docker, Traefik, Nginx, Azure, Git, and much more. I did unit testing
                        with Python and hosted apps with traditional and container based methods
                        locally and in Azure cloud VMs.
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-body bg-eng-violet my-5">
            <div class="decor-feature-secondary"></div>
            <div class="row">
                <h3 class="me-5" style="width: fit-content">Programming peer tutor</h3>
                <p class="btn-sm bg-mountbatten-pink" style="width: auto">Häme university of applied sciences</p>
            </div>
            <p class="text-apricot">Sep 2023 - Apr 2024 (8 months)</p>

            <button class="btn bg-apricot text-eng-violet-dark align-self-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTutoring" aria-expanded="false" aria-controls="collapseTutoring"> Details </button>

            <div class="collapse row mt-5" id="collapseTutoring">
                <div class="col-6">
                    <div class="card card-body bg-eng-violet-dark">
                        During my ICT studies at HAMK, I worked as a programming tutor helping
                        fellow students understand the basics of Python, web development,
                        and version control with Git and GitHub.
                    </div>
                </div>
                <div class="col-6">
                    <div class="card card-body bg-eng-violet-dark">
                        I got to run my own optional class for students who wanted extra lessons
                        on Python programming. The classes were received extremely well.
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-body bg-eng-violet my-5">
            <div class="decor-feature"></div>
            <div class="row">
                <h3 class="me-5" style="width: fit-content">Virtual training instructor and developer</h3>
                <p class="btn-sm bg-mountbatten-pink" style="width: auto">Finnish Defence Forces</p>
            </div>
            <p class="text-apricot">Feb 2021 - Sep 2021 (7.5 months)</p>

            <button class="btn bg-apricot text-eng-violet-dark align-self-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFdfTwo" aria-expanded="false" aria-controls="collapseFdfTwo"> Details </button>

            <div class="collapse row mt-5" id="collapseFdfTwo">
                <div class="col-6">
                    <div class="card card-body bg-eng-violet-dark">
                        During my 9 month military service, I worked as a virtual training
                        instructor and developer. I trained fellow soldiers using virtual
                        combat training systems as well as trained my successors as programmers,
                        3D modellers, and network administrators.
                    </div>
                </div>
                <div class="col-6">
                    <div class="card card-body bg-eng-violet-dark">
                        Along with training, I developed and maintained combat simulator systems.
                        My development work consisted mostly of building training scenarios,
                        3D modelling and programming.
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-body bg-eng-violet my-5">
            <div class="decor-feature-secondary"></div>
            <div class="row">
                <h3 class="me-5" style="width: fit-content">Vocational assistant</h3>
                <p class="btn-sm bg-mountbatten-pink" style="width: auto">SSKKY</p>
            </div>
            <p class="text-apricot">Aug 2020 - Dec 2020 (5 months)</p>

            <button class="btn bg-apricot text-eng-violet-dark align-self-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSskky" aria-expanded="false" aria-controls="collapseSskky"> Details </button>

            <div class="collapse row mt-5" id="collapseSskky">
                <div class="col-6">
                    <div class="card card-body bg-eng-violet-dark">
                        After graduating from a vocational college of the Salo Region Educational
                        Federation of Municipalities (SSKKY), I returned to work there as a vocational
                        assistant. During classes, I helped students understand programming,
                        game development, web development, and digital audio.
                    </div>
                </div>
                <div class="col-6">
                    <div class="card card-body bg-eng-violet-dark">
                        I taught students basic software development concepts such as Python and
                        C# programming, game development with Unity, and web development. I
                        helped students flesh out their games and deploy them in an arcade machine.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<h2 class="heading mt-5">Education</h2>

<div class="row experience-card">
    <div>
        <div class="card card-body bg-eng-violet my-5">
            <div class="decor-feature"></div>
            <div>
                <h3 class="me-5">Bachelor of Engineering, ICT</h3>
                <p>Häme university of applied sciences</p>
            </div>
            <p class="text-apricot">2022 - 2025</p>
        </div>

        <div class="card card-body bg-eng-violet my-5">
            <div class="decor-feature-secondary"></div>
            <div>
                <h3 class="me-5">VET Qualification, ICT</h3>
                <p>SSKKY</p>
            </div>
            <p class="text-apricot">2017 - 2020</p>
        </div>
    </div>
</div>

<h2 class="heading mt-5">Highlighted work</h2>

<div class="row my-5">
    <div class="col-6">
        <div class="card bg-eng-violet">
            <img src="img/ss-phoasis-main-crop.png" />
            <div class="card-body">
                <h3 class="text-apricot">Mock E-Commerce site</h3>
                <p>
                    E-Commerce site made for a uni course with C#, ASP.NET, and PostgreSQL.
                    Includes features like product listing, featured products, shopping cart,
                    user registration and login, map view, and more.
                </p>
                
                <p class="text-apricot pt-2"><strong>Used tools</strong></p>
                <div class="row skill-icon-row pb-4">
                    <div>
                        <img src="https://skillicons.dev/icons?i=cs" />
                        <p>C#</p>
                    </div>
                    <div>
                        <img src="https://skillicons.dev/icons?i=dotnet" />
                        <p>.NET</p>
                    </div>
                    <div>
                        <img src="https://skillicons.dev/icons?i=js" />
                        <p>JavaScript</p>
                    </div>
                    <div>
                        <img src="https://skillicons.dev/icons?i=postgres" />
                        <p>PostgreSQL</p>
                    </div>
                    <div>
                        <img src="https://skillicons.dev/icons?i=linux" />
                        <p>Linux</p>
                    </div>
                </div>

                <div class="row align-items-center">
                    <div class="col">
                        <button class="btn bg-apricot text-eng-violet-dark">See more</button>
                    </div>
                    <div class="col">
                        <img src="img/github.png" style="width: 2rem; height: 2rem" />
                        <a class="text-white align-middle" href="https://github.com/Tturna/ASP-Ecommerce" target="_blank">GitHub Project</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card bg-eng-violet">
            <img src="img/ss-amsys-main.png" />
            <div class="card-body">
                <h3 class="text-apricot">AMSYS</h3>
                <p>
                    Container application management system with dynamic routing made with
                    Django, Docker, and Traefik. Instance copying without software infrastructure
                    skills, data connection management, and automatic map visualization.
                </p>
                
                <p class="text-apricot pt-2"><strong>Used tools</strong></p>
                <div class="row skill-icon-row pb-4">
                    <div>
                        <img src="https://skillicons.dev/icons?i=python" />
                        <p>Python</p>
                    </div>
                    <div>
                        <img src="https://skillicons.dev/icons?i=django" />
                        <p>Django</p>
                    </div>
                    <div>
                        <img src="https://skillicons.dev/icons?i=docker" />
                        <p>Docker</p>
                    </div>
                    <div>
                        <img src="https://skillicons.dev/icons?i=sqlite" />
                        <p>SQLite</p>
                    </div>
                    <div>
                        <img src="https://icon.icepanel.io/Technology/svg/Traefik-Proxy.svg" />
                        <p>Traefik</p>
                    </div>
                </div>

                <div class="row align-items-center">
                    <div class="col">
                        <button class="btn bg-apricot text-eng-violet-dark">See more</button>
                    </div>
                    <div class="col">
                        <img src="img/github.png" style="width: 2rem; height: 2rem" />
                        <a class="text-white align-middle" href="https://github.com/Tturna/amsys" target="_blank">GitHub Project</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row my-5">
    <div class="col-6">
        <div class="card bg-eng-violet">
            <img src="img/supervoid-menu-mock.png" />
            <div class="card-body">
                <h3 class="text-apricot">Supervoid</h3>
                <p>
                    Demo of a 2D action adventure game inspired by Terraria and Starbound. I made this game
                    with an artist using Unity and C#.
                </p>
                
                <p class="text-apricot pt-2"><strong>Used tools</strong></p>
                <div class="row skill-icon-row pb-4">
                    <div>
                        <img src="https://skillicons.dev/icons?i=cs" />
                        <p>C#</p>
                    </div>
                    <div>
                        <img src="https://skillicons.dev/icons?i=unity" />
                        <p>Unity</p>
                    </div>
                    <div>
                        <img src="https://skillicons.dev/icons?i=dotnet" />
                        <p>.NET</p>
                    </div>
                    <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRq1p6pEnMSLek9kt9m8ZeFFkSV56zkYVghLg&s" />
                        <p>HLSL</p>
                    </div>
                    <div>
                        <img src="https://skillicons.dev/icons?i=windows" />
                        <p>Windows</p>
                    </div>
                </div>

                <div class="row align-items-center">
                    <div class="col">
                        <button class="btn bg-apricot text-eng-violet-dark">See more</button>
                    </div>
                    <div class="col">
                        <img src="img/github.png" style="width: 2rem; height: 2rem" />
                        <a class="text-white align-middle" href="https://github.com/Tturna/planetgame" target="_blank">GitHub Project</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card bg-eng-violet mb-4">
            <div class="card-body">
                <h3 class="text-apricot">Full Stack Open</h3>
                <div class="row">
                    <div class="col-8">
                        <p>
                            I completed a
                            <a href="https://fullstackopen.com/en/" target="_blank" class="text-cambridge-blue">
                                course by the University of Helsinki
                            </a>
                            on full stack development with React, NodeJS, Redux, MongoDB,
                            TypeScript, Docker, and more...
                        </p>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-6 text-center">
                                <img src="https://skillicons.dev/icons?i=react" />
                                <p>React</p>
                            </div>

                            <div class="col-6 text-center">
                                <img src="https://skillicons.dev/icons?i=nodejs" />
                                <p>NodeJs</p>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="img/github.png" style="width: 2rem; height: 2rem" />
                <a class="text-white align-middle" href="https://github.com/Tturna/fullstackopen" target="_blank">GitHub Project</a>
            </div>
        </div>

        <div class="card bg-eng-violet mb-4">
            <div class="card-body">
                <h3 class="text-apricot">Lox</h3>
                <div class="row">
                    <div class="col-8">
                        <p>
                            I read
                            <a href="https://craftinginterpreters.com/" target="_blank" class="text-cambridge-blue">
                                Crafting Interpreters by Robert Nystrom
                            </a>
                            and wrote the Lox programming language with both Java and C.
                        </p>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-6 text-center">
                                <img src="https://skillicons.dev/icons?i=c" />
                                <p>C</p>
                            </div>

                            <div class="col-6 text-center">
                                <img src="https://skillicons.dev/icons?i=java" />
                                <p>Java</p>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="img/github.png" style="width: 2rem; height: 2rem" />
                <a class="text-white align-middle" href="https://github.com/Tturna/clox" target="_blank">GitHub Project</a>
            </div>
        </div>

        <div class="card bg-eng-violet mb-4">
            <div class="card-body">
                <h3 class="text-apricot">2D Tower Defense</h3>
                <div class="row">
                    <div class="col-8">
                        <p>
                            A work-in-progress 2D tower defense game I'm making in a
                            team of 4. We use C# and MonoGame, forcing us to
                            learn the things game engines give you out of the box.
                        </p>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-6 text-center">
                                <img src="https://skillicons.dev/icons?i=cs" />
                                <p>C#</p>
                            </div>

                            <div class="col-6 text-center" style="white-space: nowrap">
                                <img src="https://avatars.githubusercontent.com/u/4772066?s=280&v=4" style="width: 48px; height: 48px"/>
                                <p>MonoGame</p>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="img/github.png" style="width: 2rem; height: 2rem" />
                <a class="text-white align-middle" href="https://github.com/Tturna/2d-td" target="_blank">GitHub Project</a>
            </div>
        </div>
    </div>
</div>


